<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Remote</title>
</head>
<body>

 <div ckass="container">
  
    <div class="remote">
      
      <div class="remote-info">
        <h2>Remote</h2>
        <p id="status">Status: OFF</p>
      </div>

      <div class="devmenu"> 
        <select id="menu">
          <option disabled selected> Select Device </option> 
        </select>
      </div>
      
      <div class="remote-buttons">
        
        <a class="btn">A</a>
        <a class="btn">B</a>
        <a class="btn">C</a>
        <a class="btn">D</a>
        <a class="btn">E</a>
        <a class="btn">F</a>
        <a class="btn">G</a>
        <a class="btn">H</a>
        <a class="btn">1</a>
        <a class="btn">2</a>
        <a class="btn">3</a>
        <a class="btn">4</a>
        <a class="btn">5</a>
        <a class="btn">6</a> 
        <a class="btn">7</a>
        <a class="btn">8</a>
        <a class="btn">9</a>
        <a class="btn">10</a>
        <a class="btn">11</a>
        <a class="btn">12</a>
        <a class="btn">COLOR</a>
        <a class="btn">BREATH</a>
        <a class="btn">FLASH</a>
        <a class="btn">FADE</a>

      </div>

      <div class="remote-options">
        <div  class="remote-option"> <a href="/exit"> Logout </a></div>
        <div  class="remote-option"> <a href="/add-dev"> Add Device </a></div>
        <div  class="remote-option"> <a href="/dev-list"> Device List </a></div>
      </div>

      
    </div><!-- end .remote -->

  </div> <!-- add device option -->
  
</body>
<Script src="js/func.js"> </Script>
</html>